<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" href="{%static 'css/estilos.css'%}">
    <title>Ver</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top ">
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#opciones">
        <span class="navbar-toggler-icon"></span>
        </button>      
        {% load static %}  
        <!-- insertar logo -->            
        <a class="navbar-brand " href="#">
          <img src="{%static 'img/logo.png'%}" width="60" height="60" alt="">
        </a>
        <div class="collapse navbar-collapse " id="opciones">   
          <ul class="navbar-nav">                
            <li class="nav-item ">
              <a class="nav-link" href="{% url 'Index' %}">Inicio</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'Galeria_de_fotos' %}">Catálogo de Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'form_ver' %}">Administrador</a>
            </li> 
          </ul>  
        </div>
    </nav>
    <br><br><br><br>
    <div class="galeria">
        <h3>Mostrando Producto</h3>
        <div class="linea"></div>
    <div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Codigo</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Categoria</th>

            </tr>
        </thead>
        <tbody>
            {%for pro in productos%}
                <tr>
                    <td>{{pro.idProducto}}</td>
                    <td>{{pro.nombreProducto}}</td>
                    <td>{{pro.precioProducto}}</td>
                    <td>{{pro.cantProducto}}</td>
                    <td>{{pro.categoria}}</td>
                    <td><a href="{% url 'form_modificar' pro.idProducto%}" class="btn btn-primary" id="btnprueba">Modificar  </a></td>
                    <td><a href="{% url 'form_eliminar' pro.idProducto%}" class="btn btn-danger" id="btnprueba">Eliminar </a></td>

                </tr>
            {%endfor%}

        </tbody>

    </table>
    <a href="{% url 'form_crear' %}" class="btn btn-primary" id="btnprueba">Nuevo Producto</a>
    <br><br><br>
    </div>
    <footer class= "container-fluid footer" >
        <p>©Copyright 2021 Bastián Sepúlveda - Nancy Torres - Danko Zamarin | Derechos reservados             Síguenos: 
          <i class="fa fa-whatsapp"></i>
          <i class="fa fa-facebook"></i>
          <i class="fa fa-envelope"></i> 
          <i class="fa fa-instagram"></i> 
          <i class="fa fa-twitter"></i> 
        </p>
      </footer>
</body>
</html>